<div class="scene scene--card">
  <div class="card" [class.is-flipped]="isFlipped" (swipeup)="dummyToast('Up')">
    <div class="card__face front" (doubletap)="flip()">
      <ion-card>
        <ion-card-content class="whiteBorder flex-self-aligned">
          <ion-card-content class="bgLayer flex-self-aligned">
            <ion-card-content class="contentFront inline-self-aligned">
              <!-- ************************************************************************** -->
              <!---->
              <ion-grid [fixed]="true">
                <ion-card-content class="imgFrame inline-self-aligned child-align">
                  @if (item && item.picture) {
                    <ion-img class="gapRemover" (press)="addImage()" [src]="item.picture"></ion-img>
                  } @else {
                    <ion-img class="gapRemover coated" (press)="addImage()" src="../../assets/plus2.jpg"></ion-img>
                  }
                </ion-card-content>
              </ion-grid>
              <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
              <!-- ************************************************************************** -->
              <!--<ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>-->
              <!-- ************************************************************************** -->
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col class="centerMiddle">
                    <ion-label class="formShaper centerMiddle" (press)="dummyToast('Name')"><h1>{{item?.name}}</h1></ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
              <ion-grid [fixed]="true">
                <ion-row>
                  @if (item && (item.maker !== 'Name')) {
                    <ion-label class="formShaper centerMiddle" (press)="dummyToast('Maker')"><h3>{{item.name}}</h3></ion-label>
                } @else {
                  <ion-label class="formShaper centerMiddle hiddenText"><h3>{{item?.maker}}</h3></ion-label>
                }
                </ion-row>
              </ion-grid>
              <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
            <!--  <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col class="centerMiddle">
                    <ion-label class="formShaper centerMiddle hiddenText"><h1>whatever hidden</h1></ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
               ************************************************************************** -->
              <!--<ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;">&nbsp;</ion-col></ion-row></ion-grid>-->
              <!-- ************************************************************************** -->
              <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
              <ion-grid [fixed]="true" class="toBotton">
                <ion-row>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)="dummyToast('btn1')">
                      <ion-icon slot="icon-only" name="{{typeIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)="dummyToast('btn2')">
                      <ion-icon slot="icon-only" name="{{defaultIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)="dummyToast('btn3')">
                      <ion-icon slot="icon-only" name="{{defaultIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)="dummyToast('btn4')">
                      <ion-icon slot="icon-only" name="{{defaultIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)="dummyToast('btn5')">
                      <ion-icon slot="icon-only" name="{{defaultIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <!---->
              <!-- ************************************************************************** --> 
            </ion-card-content>
          
          </ion-card-content>
        </ion-card-content>
      </ion-card>
    </div>
    <!-- ************************************************************************** -->
    <!-- ************************************************************************** --> 
    <div class="card__face back" (doubletap)="flip()">
      <ion-card>
        <ion-card-content class="whiteBorder flex-self-aligned">
          <ion-card-content class="bgLayer flex-self-aligned">
            <ion-card-content class="contentBack inline-self-aligned">
             <!-- ************************************************************************** -->
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col class="centerMiddle">
                    <ion-thumbnail class="thumbFrame">
                      @if (item && item.picture) {
                        <ion-img (click)="editImage()" [src]="item.picture" class="thumbShadow"></ion-img>
                      } @else {
                        <ion-img (click)="editImage()" src="../../assets/plus2.jpg" class="thumbShadow coated"></ion-img>
                      }
                    </ion-thumbnail>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
              @if (thingPrototype) {
<form [formGroup]="thingPrototype">
              <ion-grid [fixed]="true">         
                <ion-row>
                  <ion-col class="centerMiddle">
<ion-input id="name" type="text" formControlName="name" label="{{thingName}}" label-placement="floating" fill="outline" placeholder="{{item!.name}}" blur=""></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col class="centerMiddle">
<ion-input id="maker" type="text" formControlName="maker" label="{{thingMaker}}" label-placement="floating" fill="outline" placeholder="{{thingMaker}}" blur=""></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col class="centerMiddle">
<ion-select id="status" formControlName="status" label="{{thingStatus}}" label-placement="floating" fill="outline" placeholder="{{item!.status}}">
                      <ion-select-option value="mint">Mint</ion-select-option>
                      <ion-select-option value="nearM">Near Mint</ion-select-option>
                      <ion-select-option value="vgPlus">Very Good+</ion-select-option>
                      <ion-select-option value="vGood">Very Good</ion-select-option>
                      <ion-select-option value="gPlus">Good+</ion-select-option>
                      <ion-select-option value="good">Good</ion-select-option>
                      <ion-select-option value="fair">Fair</ion-select-option>
                      <ion-select-option value="poor">Poor</ion-select-option>
</ion-select>
                  </ion-col>
                  <ion-row><ion-col>&nbsp;</ion-col></ion-row>
                  <ion-col class="centerMiddle">
<ion-input id="quantity" type="number" min="1" max="100" formControlName="quantity" label="{{thingQuantity}}" label-placement="floating" fill="outline" placeholder="{{item!.quantity}}"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col class="centerMiddle">
<ion-textarea id="notes" [autoGrow]="true" [counter]="true" maxlength="300" type="text" formControlName="notes" label="{{thingNotes}}" label-placement="floating" fill="outline" placeholder="Add notes on this item"></ion-textarea>
                  </ion-col>
                </ion-row>
              </ion-grid>
<!--              <div class="saveForm"><button type="button" (click)=thingTagger()>{{buttonName}}</button></div>-->
<!--              <div class="clearForm"><button type="button" (click)=auxButtonSelector(auxButton)>{{auxButton}}</button></div>-->

</form>
}
              <!-- ************************************************************************** -->
              <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
              <ion-grid [fixed]="true" class="toBotton">
                <ion-row>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)="openType()">
                      <ion-icon slot="icon-only" name="{{typeIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)="dummyToast('btn2')">
                      <ion-icon slot="icon-only" name="{{defaultIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)="dummyToast('btn3')">
                      <ion-icon slot="icon-only" name="{{defaultIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)="dummyToast('btn4')">
                      <ion-icon slot="icon-only" name="{{defaultIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="centerMiddle">
                    <ion-button size="large" (click)=thingTagger()>
                      <ion-icon slot="icon-only" name="{{defaultIcon}}"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <!---->
              <!-- ************************************************************************** -->
            </ion-card-content>
           <!-- ************************************************************************** --> 
          </ion-card-content>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>



