<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Containers
    </ion-title>
  </ion-toolbar>
</ion-header>
-->
<!-- 
<ion-content [fullscreen]="true">

  <div class="altHeader">
    <ion-img class="header-image" src="../../assets/logo.png" alt="Header image"></ion-img>
  </div>
--> 
  
  <!--<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Containers</ion-title>
  </ion-toolbar>
  </ion-header>-->

  <app-main></app-main>
<!--  <app-locate></app-locate>
</ion-content>
-->

