
ion-item-option {
    --background: transparent;
    --ion-color-success: #afe056;
    --ion-color-primary: #ffcc77;
    --ion-color-danger: #ef475b;
    --ion-color-primary-shade: transparent;
    --color: #aaaaaa;
}
ion-thumbnail { 
    --size: 7vh;
    --border-radius: 5px; 
}
ion-list { --ion-item-background: #fffcf660;}
ion-item{
//    --background: linear-gradient(135deg, rgba(255,255,255,0) 12%, rgba(255,204,119,0.35) 48%, rgba(255,204,119,1) 70%);
    --background: linear-gradient(135deg,rgba(255, 204, 119, 0) 14%, rgb(255, 233, 199, .4) 48%, rgb(255, 255, 255, 1) 87%);
    --color: #aaaaaa;
    --border-color: transparent;
}
ion-segment-button{
    --color-selected: #ffcc77;
    --color: #aaaaaa;
}
img{
    height: 100%;
}
/* ****************************************************************************** */
.altHeader {
    //background: transparent;
    //background: #8080804e;
    .header-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0vh;
      width: 15%;
    }
}
ion-card{
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(255, 204, 119), #ffeecc);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
    height: 72vh;
    .whiteBorder{
      background-color: #ffffff;
      width: 97%;
      height: 98%;
      .bgLayer{
        width: 98%;
        height: 99%;
        background-image: url(/../../../assets/whiteNBG.png), linear-gradient(#ffcc7740, #ffeecc1f);
            //background-image: url(/../../../assets/whiteNBG.png), linear-gradient(#ffeecc40, #fff2d81f);
            //background-image: url(/../../../assets/whiteNBG.png), linear-gradient(#ff400040, #ffeecc1f);
        background-blend-mode:color-dodge;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
}
.flex-self-aligned{
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    padding: 0%;
}  
.inline-self-aligned{
    display: inline-block;
    position: relative;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    padding: 0%;
}
.child-align{
    align-items: center;
    align-content: center;
    text-align: center;
}

.iconCustom{
    color:#aaaaaa; font-size: 32px;
    //--ionicon-stroke-width: 32px;
}
.imgFrame {
    width: 100%;
    height: fit-content;
    background-color: #ffcc7744;
}
.thumbFrame{
    border-radius: 5px;
    background-color: #ffecce;
    height: 7.1vh;
    width: 7.1vh;
}
.thumbShadow{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4); 
    border-radius: 5px;
}
.coated{
  opacity: 50%;
}
.removeCustomStyle{
    --background: transparent !important;
}
.labelCustom{
    font-size: medium; --color: #aaaaaa; font-weight: bold;
}
.tollbarCustom{
    --background: linear-gradient(#ffffff, #fffcf6, #fef8ec, #ffeecc); 
    --color: #aaaaaa; 
}
.noPadding{
    padding: 0%;
}
.noRipple{
    --ripple-color: transparent !important;
    --background-hover: transparent !important;
}
.alignCenter{
    align-self: center;
    vertical-align: middle;
}
.customRipple {
    color: #ffcc77;
}
.fullWidth{
    width: 100%;
    height: auto;
  }
  .decorated{
    color: #ff400090;
  }
  .upSized{
    font-size: 9.37vh;
    color: #ffcc77;
  }
  .downSized{
    font-size: 1.4vh;
  }

  .borderG{
    border: green solid .5px;
}
.borderR{
    border: red solid .5px;
}
.borderB{
    border: blue solid .5px;
}
.borderC{
    border: cyan solid .5px;
}


.gapRemover{
    display:inline-block !important;
    vertical-align: middle;
    line-height:20px;
    margin: 0;
}