/*ion-content::part(background) {
    background: transparent !important;
}*/

.altHeader {
  //background: transparent;
  //background: #8080804e;
  .header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    width: 15%;
  }
}
.scene {
    display: block;
    width: 100%;
    height: 80vh;
    perspective: 600px;
    .card {
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transform-origin: center right;
      transition: transform .4s;
      background: transparent;
      &.is-flipped {
        transform: translateX(-100%) rotateY(-180deg);
      }
      .card__face {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.front {
          background: transparent;
        }
        &.back {
          background: transparent;
          transform: rotateY(180deg);
        }
      }
    }
  }
  
  ion-card{
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(255, 204, 119), #ffeecc);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
    height: 72vh;
    .whiteBorder{
      background-color: #ffffff;
      width: 97%;
      height: 98%;
      .bgLayer{
        width: 98%;
        height: 99%;
        background-image: url(/../../../assets/whiteNBG.png), linear-gradient(#ffcc7740, #ffeecc1f);
            //background-image: url(/../../../assets/whiteNBG.png), linear-gradient(#ffeecc40, #fff2d81f);
            //background-image: url(/../../../assets/whiteNBG.png), linear-gradient(#ff400040, #ffeecc1f);
        background-blend-mode:color-dodge;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
  
  .flex-self-aligned{
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    padding: 0%;
  }
  
  .inline-self-aligned{
    display: inline-block;
    position: relative;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    padding: 0%;
  }
  
  .child-align{
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  .offUnderSpace{
    display:inline-block !important;
    vertical-align: middle;
    line-height:20px;
    margin: 0;
  }
  
  .imgFrame {
    width: 100%;
    height: fit-content;
    min-height: 362px;
    max-height: 374px;
    //max-height: 374px;
    background-color: #ffcc7744;
  } // FRONT CARD IMG ------------ DO NOT CHANGE!!!
  
  /*---------------------------------------------NO MORE CHANGE UP FROM HERE ---------------------------------------------*/
  
  .hiddenContent{
    display: none !important;
  }
  .contentFront, .contentBack{
    width: 97.5%;
    height: 98.5%;
      //border:#ff00d9 dotted .5px;
  }
  .contentSpliter{
    width: 100%;
    height: auto;
      //height: 41.5%;
      //border:#0000ff dotted .5px;
  }
  .gridFrame{
    width: 100%;
    height: 28.5%;
      //border:#00eeff dotted .5px;
  }
  .gridCell{
    width: 19.5%;
    height: 7svh;
      //border:#dc15ff dotted .8px;
    margin: .2%;
  }
  .thumbFrame{
      height: 10vh;
      width: 10vh;
  }
  
  /*------------------------------------------------------------------------------------------*/
  img{
    border-radius: 5px;
    //border:#00f7ff dotted .5px;
  }
  ion-card-header{
    background-color: transparent;
  }
  ion-button{
    color: rgb(255, 255, 255) !important;
    width: 8vh;
    height: 8vh;
  }
  ion-icon{
    //color: #ffcc77;
    color: #ffffff;
    font-size: 48px;
  }
  ion-img::part(image) {
    border-radius: 5px;
    max-width: 374px;
    max-height: 374px;
  }

  .borderR{
    border: solid red .3px;
  }


  ion-item-option {
    --background: transparent;
    --ion-color-success: #afe056;
    --ion-color-primary: #ffcc77;
    --ion-color-danger: #ef475b;
    --ion-color-primary-shade: transparent;
    --color: #aaaaaa;
}
ion-thumbnail { 
    --size: 7vh;
    --border-radius: 5px; 
}
ion-list { --ion-item-background: #fffcf660;}
ion-toolbar { 
    --background: linear-gradient(#ffffff, #fffcf6, #fef8ec, #ffeecc); 
    --color: #aaaaaa; 
}
ion-item{
//    --background: linear-gradient(135deg, rgba(255,255,255,0) 12%, rgba(255,204,119,0.35) 48%, rgba(255,204,119,1) 70%);
    --background: linear-gradient(135deg,rgba(255, 204, 119, 0) 14%, rgb(255, 233, 199, .4) 48%, rgb(255, 255, 255, 1) 71%);
    --color: #aaaaaa;
    --border-color: transparent;
}

img{
    height: 100%;
}

.noRipple{
    --ripple-color: transparent !important;
    --background-hover: transparent !important;
}

.customRipple {
    color: #ffcc77;
}