
<!--
<ion-content [fullscreen]="true">


  <ion-grid [fixed]="true" class="headTop">
    <ion-row><ion-col><h1 class="borderG">&nbsp;</h1></ion-col></ion-row>
    <ion-row>
      <ion-col>
        <p class="headLeft downSized borderB">up</p>
        <p class="text-custom upSized borderG">manifesto</p>
        <p class="bottomRight downSized borderR">Keeping Things Trackable</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid [fixed]="true">
    <ion-row><ion-col>&nbsp;</ion-col></ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="large" type="button" (click)="bindComponent('help')">
          <ion-icon slot="icon-only" name="help-circle"></ion-icon>
        </ion-button></ion-col>
      <ion-col>
        <ion-button size="large" type="button" (click)="bindComponent('info')">
          <ion-icon slot="icon-only" name="information-circle"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" type="button" (click)="bindComponent('feedback')">
          <ion-icon class="diagonal" slot="icon-only" name="mail"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="large" type="button" (click)="bindComponent('settings')">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" type="button" (click)="bindComponent('share')">
          <ion-icon slot="icon-only" name="cube"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" (click)="bindComponent('logout')">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
-->