// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

ion-content::part(background) {
  //background-image: url(/../../../assets/whiteNBG.png), linear-gradient(#ff400012, #ffcd7724);
  background-image: url(/../../../assets/whiteNBG.png), linear-gradient(#ffb62516, #ffcd7710);
  background-size: 33.3%;
  background-position: center;
}

