.altHeader {
  //background: transparent;
  //background: #8080804e;
  .header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    width: 15%;
  }
}

/*
ion-segment-button {
  --background: linear-gradient(#ffeecc, #fff2d8, #fef8ec, #fffcf6, #ffffff, #ffffff);
}
*/

swiper-container {
  --swiper-pagination-bottom: 15px;
}
.noPadding{
  padding: 0%;
}

.border{
  border: rgb(0, 0, 0) dotted 1px;
}
.borderR{
  border: rgb(252, 0, 0) dotted 1px;
}
.borderG{
  border: rgb(88, 252, 0) dotted 1px;
}
.borderB{
  border: rgb(4, 0, 252) dotted 1px;
}