
<ion-content [fullscreen]="true" (swipedown)="showHideTabs()">
  <div class="altHeader">
    <!--<div class="place-badge"><ion-badge style="position:absolute; z-index:100" color="success">5</ion-badge></div>-->
    <ion-img
      class="header-image"
      src="../../assets/logo.png"
      alt="Header image"
    ></ion-img>
    
  </div>
  <swiper-container pagination-type="fraction" keyboard-enabled="true" grab-Cursor="true" [allowSlideNext]="allowSlideCard" [allowSlidePrev]="allowSlideCard">
    @for (slide of slides; track slide.id; let i = $index) {
      <swiper-slide><app-item-card [item]="slide" [isFlipped]="currentCardFlipped" (flipCard)="flip($event)"></app-item-card></swiper-slide>
    } @empty {
      No slides.
    }
  </swiper-container>


  <ion-segment value="buttons">
    <ion-segment-button value="default">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="boxed">
      <ion-label>Boxed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="unboxed">
      <ion-label>Unboxed</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>

