
<ion-content [fullscreen]="true" (swipedown)="showHideTabs()">
  <ion-grid [fixed]="true" class="noPadding">
        <div class="altHeader">
          <ion-img class="header-image" src="../../assets/logo.png"></ion-img>
        </div>
  </ion-grid>
  <ion-grid [fixed]="true" style="height:85.5%" class="noPadding">
       <swiper-container pagination-type="fraction" [allowSlideNext]="allowSlideCard" [allowSlidePrev]="allowSlideCard">
          @for (slide of slides; track slide.id; let i = $index) {
            <swiper-slide>
              <app-item-card [item]="slide" [isFlipped]="currentCardFlipped" (flipCard)="flip($event)"></app-item-card>
            </swiper-slide>
          
          } @empty {
            No slides.
          }
        </swiper-container>
  </ion-grid>
  <ion-grid [fixed]="true" class="noPadding">
    <ion-segment value="buttons">
      <ion-segment-button value="default">
        <ion-label>Default</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Segment</ion-label>
      </ion-segment-button>
      <ion-segment-button value="buttons">
        <ion-label>Button</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-grid>


</ion-content>

<!--
keyboard-enabled="true" grab-Cursor="true"
-->