
ion-item-option {
    --background: transparent;
    --ion-color-success: #afe056;
    --ion-color-primary: #ffcc77;
    --ion-color-danger: #ef475b;
    --ion-color-primary-shade: transparent;
    --color: #aaaaaa;
}
ion-thumbnail { 
    --size: 7vh;
    --border-radius: 5px; 
}
ion-list { --ion-item-background: #fffcf660;}
ion-item{
//    --background: linear-gradient(135deg, rgba(255,255,255,0) 12%, rgba(255,204,119,0.35) 48%, rgba(255,204,119,1) 70%);
    --background: linear-gradient(135deg,rgba(255, 204, 119, 0) 14%, rgb(255, 233, 199, .4) 48%, rgb(255, 255, 255, 1) 87%);
    --color: #aaaaaa;
    --border-color: transparent;
}
ion-segment-button{
    --color-selected: #ffcc77;
    --color: #aaaaaa;
}
img{
    height: 100%;
}
.imgFrame {
    width: 100%;
    height: fit-content;
    background-color: #ffcc7744;
}
.thumbFrame{
    border-radius: 5px;
    background-color: #ffecce;
    height: 7.1vh;
    width: 7.1vh;
}
.thumbShadow{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4); 
    border-radius: 5px;
}
.coated{
  opacity: 50%;
}
.removeCustomStyle{
    --background: transparent !important;
}
.labelCustom{
    font-size: medium; --color: #aaaaaa; font-weight: bold;
}
.tollbarCustom{
    --background: linear-gradient(#ffffff, #fffcf6, #fef8ec, #ffeecc); 
    --color: #aaaaaa; 
}
.noPadding{
    padding: 0%;
}
.noRipple{
    --ripple-color: transparent !important;
    --background-hover: transparent !important;
}
.alignCenter{
    align-self: center;
    vertical-align: middle;
}
.customRipple {
    color: #ffcc77;
}
.borderG{
    border: green solid .5px;
}
.borderR{
    border: red solid .5px;
}