<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lists</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!--  <div class="altHeader">
      <ion-img class="header-image" src="../../assets/logo.png" alt="Header image"></ion-img>
    </div>-->
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Lists</ion-title>
  </ion-toolbar>
</ion-header>

