<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lists</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true"><!--  <div class="altHeader"><ion-img class="header-image" src="../../assets/logo.png" alt="Header image"></ion-img></div>-->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Lists</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid [fixed]="true">
    <ion-toolbar id="dynToolbar" style="width: 100% !important;">
      <ion-segment id="segButtons" [scrollable]="true" value="all">
        <ion-segment-button value="all">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="disc">
          <ion-icon name="disc"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="book">
          <ion-icon name="book"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="tool">
          <ion-icon name="build"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="cloth">
          <ion-icon name="shirt"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="comic">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="wine">
          <ion-icon name="wine"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="currency">
          <ion-icon name="cash"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-grid>
  <ion-grid [fixed]="true">
  <ion-item><ion-grid [fixed]="true"><ion-row><ion-col><ion-label>List of items</ion-label></ion-col></ion-row></ion-grid></ion-item>
  
  @for(thing of myThingsList; track thing.id; let index = $index; let count = $count ){
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option class="customRipple" (click)="removeItem(index)"><ion-icon slot="icon-only" name="trash" color="danger"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item detail="true">
        @if (thing.picture !== '') {
        <ion-thumbnail slot="start"><img alt="thumb" src={{thing.picture}} /></ion-thumbnail>}
        @else {<ion-thumbnail slot="start"><img alt="thumb" src="../../assets/inrWhite.png" /></ion-thumbnail>}
        <ion-item-option></ion-item-option><ion-item-option></ion-item-option>
        <ion-item-option><ion-label class="noRipple" style="font-size: smaller; font-weight: bold;" >{{thing.name}}</ion-label></ion-item-option>
      </ion-item>
      <ion-item-options>
        <ion-item-option class="customRipple" side="end" (click)="openEditor(index)"><ion-icon slot="icon-only" name="create" color="primary"></ion-icon></ion-item-option>
        <ion-item-option class="customRipple"><ion-icon slot="icon-only" name="eye" color="success"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <!--<ion-row class="borderR padding: 0%">-->
        <!--<ion-col class="borderG padding: 0%" size="auto"><ion-label>{{index+1}}</ion-label></ion-col>-->
        <!--<ion-col class="borderG padding: 0%"><ion-label>{{thing.name}}</ion-label></ion-col>-->
        <!--<ion-col class="borderG padding: 0%" size="auto"><button (click)="thingIndexer(index)"> EDIT </button></ion-col>-->
        <!--<ion-col class="borderG padding: 0%" size="auto"><button (click)="removeItem(index)"> DELETE </button></ion-col>-->
    <!--</ion-row>-->
  }@empty {
    <ion-row class="borderR padding: 0%">
      <ion-col class="borderG padding: 0%"><ion-label>Ooops... No items yet... Fill some cards in!</ion-label></ion-col>
  </ion-row>
  }
  </ion-grid>
</ion-content>

