<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <div class="altHeader">
    <!--<div class="place-badge"><ion-badge style="position:absolute; z-index:100" color="success">5</ion-badge></div>-->
    <ion-img
    style="width: 15% !important; height: auto !important;"
      class="header-image"
      src="../../assets/logo.png"
      alt="Header image"
    ></ion-img>
    
  </div>


<div class="scene scene--card">
  <div class="card">
    <div class="card__face front">


      <ion-card>
        <ion-card-content class="whiteBorder flex-self-aligned">
          <ion-card-content class="bgLayer flex-self-aligned">
            <ion-card-content class="contentFront inline-self-aligned">
              <ion-card-content class="contentSpliter inline-self-aligned child-align"></ion-card-content>
              <ion-card-content class="contentSpliter inline-self-aligned child-align"></ion-card-content>
            <!--  <ion-card-content class="contentSpliter inline-self-aligned child-align">
                <ion-card-header><ion-card-title>TAB 2</ion-card-title></ion-card-header>
              </ion-card-content>
            -->  
              <ion-card-content class="contentSpliter inline-self-aligned child-align"></ion-card-content>
              <ion-grid class="contentSpliter inline-self-aligned child-align">
                <ion-row class="gridFrame">
                  <ion-col class="gridCell"><ion-button size="large"><ion-icon slot="icon-only" name="help-circle"></ion-icon></ion-button></ion-col>
                  <ion-col class="gridCell"><ion-button size="large"><ion-icon slot="icon-only" name="information-circle"></ion-icon></ion-button></ion-col>
                </ion-row>
                <ion-card-content class="contentSpliter inline-self-aligned child-align"></ion-card-content>
                <ion-row class="gridFrame"><ion-col class="gridCell"></ion-col></ion-row>
                <ion-row class="gridFrame">
                  <ion-col class="gridCell"><ion-button size="large"><ion-icon class="diagonal" slot="icon-only" name="send"></ion-icon></ion-button></ion-col>
                  <ion-col class="gridCell"><ion-button size="large"><ion-icon slot="icon-only" name="settings"></ion-icon></ion-button></ion-col>
                </ion-row>
                <ion-card-content class="contentSpliter inline-self-aligned child-align"></ion-card-content>
                <ion-row class="gridFrame"><ion-col class="gridCell"></ion-col></ion-row>
                <ion-row class="gridFrame">
                  <ion-col class="gridCell"><ion-button size="large" (click)="logOut()"><ion-icon slot="icon-only" name="log-out"></ion-icon></ion-button></ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card-content>
        </ion-card-content>
      </ion-card>


      </div>
    </div>
  </div>

</ion-content>
