<ion-content [fullscreen]="true">
         <!-- ************************************************************************** --> <!-- -->   
  <ion-grid [fixed]="true"><ion-row>
    <ion-col class="centerMiddle">
      <ion-thumbnail class="thumbFrame">
        @if (theThing && thingPicture) {
          <ion-img (click)="changeImage()" src={{thingPicture}} class="thumbShadow"></ion-img>
        } @else {
          <ion-img (click)="changeImage()" src="../../assets/plus2.jpg" class="thumbShadow coated"></ion-img>
        }

      </ion-thumbnail>
    </ion-col>
    <ion-col class="centerMiddle">
      <ion-button color="softing" size="large" (click)="editType()"><ion-icon slot="icon-only" name="grid-outline"></ion-icon></ion-button>
    </ion-col></ion-row>
  </ion-grid>
        <!-- ************************************************************************** --> <!-- -->  
  <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
  @if (thingPrototype) {
    <form [formGroup]="thingPrototype">
      <ion-grid [fixed]="true"><ion-row><ion-col class="centerMiddle">
        <ion-input type="text" formControlName="name" label={{thingName}} label-placement="floating" fill="outline" placeholder=""></ion-input>
      </ion-col></ion-row></ion-grid>
      <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
      <ion-grid [fixed]="true"><ion-row><ion-col class="centerMiddle">
        <ion-input type="text" formControlName="maker" label={{thingMaker}} label-placement="floating" fill="outline" placeholder=""></ion-input>
      </ion-col></ion-row></ion-grid>
      <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
      <ion-grid [fixed]="true"><ion-row><ion-col class="centerMiddle">
        <ion-select formControlName="status" label="Status" label-placement="floating" fill="outline" placeholder="Status">
          <ion-select-option value="mint">Mint</ion-select-option>
          <ion-select-option value="nearM">Near Mint</ion-select-option>
          <ion-select-option value="vgPlus">Very Good+</ion-select-option>
          <ion-select-option value="vGood">Very Good</ion-select-option>
          <ion-select-option value="gPlus">Good+</ion-select-option>
          <ion-select-option value="good">Good</ion-select-option>
        </ion-select>
        </ion-col><ion-row><ion-col>&nbsp;</ion-col></ion-row>
        <ion-col class="centerMiddle">
          <ion-input type="number" min="1" max="100" formControlName="quantity" label="Quantity" label-placement="floating" fill="outline" placeholder="1"></ion-input>
      </ion-col></ion-row></ion-grid>
      <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
      <ion-grid [fixed]="true"><ion-row><ion-col class="centerMiddle">
        <ion-textarea [autoGrow]="true" [counter]="true" maxlength="300" type="text" formControlName="notes" label="Notes" label-placement="floating" fill="outline" placeholder="Notes go here"></ion-textarea>
      </ion-col></ion-row></ion-grid>
        <ion-grid [fixed]="true"><ion-row><ion-col style="height: 1vh;"></ion-col></ion-row></ion-grid>
        <ion-grid [fixed]="true" class="">
          <ion-row>
            <ion-col class="centerMiddle">
              <ion-button color="softing" type="button" class="endOfLine fullWidth" (click)="thingTagger()">UPDATE</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </form>
  }
</ion-content>