
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Boxes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!--  <div class="altHeader">
      <ion-img class="header-image" src="../../assets/logo.png" alt="Header image"></ion-img>
    </div>-->
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Boxes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-list>
  @for (i of containersArray; track i) {
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option class="customRipple" ><ion-icon slot="icon-only" name="trash" color="danger"></ion-icon></ion-item-option>
        </ion-item-options>
        <ion-item >
          <ion-thumbnail slot="start"><img alt="thumb" src="../../assets/inrWhite.png" /></ion-thumbnail>
          <ion-item-option></ion-item-option><ion-item-option></ion-item-option>
          <ion-item-option><ion-label class="noRipple" style="font-size: large; font-weight: bold;" >{{containerName}}</ion-label></ion-item-option>
        </ion-item>
        <ion-item-options>
          <ion-item-option class="customRipple" side="end"><ion-icon slot="icon-only" name="create" color="primary"></ion-icon></ion-item-option>
          <ion-item-option class="customRipple"><ion-icon slot="icon-only" name="eye" color="success"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      
  }
</ion-list>


</ion-content>
