<ion-tabs>
  <ion-tab-bar slot="bottom" #dynTabBar id="dynTabBar">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon class="rotated" aria-hidden="true" name="albums"></ion-icon>
      <ion-label>cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="cube"></ion-icon>
      <ion-label>manifesto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="archive"></ion-icon>
      <ion-label>boxes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


<!-- TO 'tabs.service.ts'

public hideTabs() {
const tabBar = document.getElementById('dynTabBar');
if (tabBar.style.display !== 'none') tabBar.style.display = 'none';
}
public showTabs() {
const tabBar = document.getElementById('dynTabBar');
if (tabBar.style.display !== 'flex') tabBar.style.display = 'flex';
}

-->