ion-tab-bar {
  --background: linear-gradient(#ffeecc, #fff2d8, #fef8ec, #fffcf6, #ffffff, #ffffff);
  --color-selected: #ffcc77;
  --color: #aaaaaa;
  //display: none;
}

.rotated {
  transform: rotate(90deg);
}

